<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Lab 10</title>
</head>

<body>
    <header>
        <p>Matthew Brand - Lab 10 - CS-546WS</p>
        <hr>
    </header>

    {{{body}}}

    <footer>
        <hr>
        <p>"I pledge my honor that I have abided by the Stevens Honor System" - Matthew Brand</p>
    </footer>

</body>

</html>