<p>LOGIN INCORRECT: You have entered in an incorrect username or password.</p>
<form id="login-form" action="/login" method="post">
    <input type="text" name="username">
    <input type="text" name="password">
    <input type="submit" value="Submit">
</form>