<p>You may not access this page, you must be logged in.</p>
<form id="login-form" action="/login" method="post">
    <p>Username:</p><input type="text" name="username">
    <p>Password:</p><input type="text" name="password">
    <input type="submit" value="Submit">
</form>